.main {
  margin: 10rem auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.heading h1 {
  padding-top: calc(60px + 3.6rem);
  font-weight: bold;
}
.contentWrapper {
  display: flex;
  max-width: 1200px;
  /* margin-right: 5vw; */
}

.content {
  max-width: 25vw;
}
.heading {
  font-size: var(--text-heading);
  text-align: center;
}

.image {
  flex: 1;
  width: 400px;
  height: 80svh;

  background-image: url("/Images/poem/img_2.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
}

.poem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 1rem;
  height: 80svh;
  font-size: 50px;
  font-family: var(--font-tangerine);
  font-weight: bolder;
  padding: 1rem;
  color: var(--text);
  border-radius: 1rem;
}
.link {
  display: flex;
  flex-direction: column;
}
.arrow {
  text-align: center;
  font-size: 50px;
}
.viewmore {
  font-size: 30px;
  text-align: center;
  font-family: var(--font-raleway);
  font-weight: normal;
}
@media (max-width: 1024px) {
  .image {
    width: 300px;
  }
  .poem {
    margin: 0.5rem;
    width: 300px;
    font-size: var(--text-heading);
  }
  .arrow {
    font-size: 40px;
  }
  .viewmore {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .main {
    flex-direction: column;
    gap: 5rem;
  }
  .poem {
    margin: 0.5rem;
    height: 80svh;
  }
}
@media (max-width: 600px) {
  .image {
    width: 250px;
  }
  .poem {
    font-size: var(--text-lg);
  }
}
@media (max-width: 560px) {
  .image {
    width: 50vw;
    height: 50svh;
  }
  .poem {
    height: 50svh;
    width: 30vw;
    font-size: var(--text-md);
  }
  .arrow {
    font-size: 30px;
  }
  .viewmore {
    font-size: 20px;
  }
  .link {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 426px) {
  .heading {
    font-size: var(--text-subheading);
  }
  .viewmore {
    font-size: 15px;
  }
}
@media (max-width: 375px) {
  .viewmore {
    font-size: 12px;
  }
}
@media (max-width: 320px) {
  .viewmore {
    font-size: 10px;
  }
}
