.main{
  position: relative;
  display: flex;
  height: 100svh;
  overflow: hidden;
}

.main img{
  object-fit: cover;
  object-position: 20% center;
}

.sliderContainer{
  position: absolute;
  top: calc(100svh - 350px);
}

.slider{
  position: relative;
  white-space: nowrap;
}

.slider p{
  position: relative;
  margin: 0px;
  color: white;
  font-size: 230px;
  font-weight: 500;
  padding-right: 50px;
}

.slider p:nth-of-type(2){
  position: absolute;
  left: 100%;
  top: 0;
}

@media (max-width:768px){
  .main img {
    object-fit: cover;
  }
  .sliderContainer {
    top: calc(100svh - 260px);
  }
  .slider p{
    font-size: 100px;
  }
}