.section {
  overflow-x: hidden;
}
.scrollContainer {
  width: 300vw !important;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 5rem;
  /* flex-wrap: wrap; */
}
.scrollContainer div {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* font-size: 4rem; */
}
/* .scrollContainer div:first-child {
  width: 100vw;
  height: 50svh;
} */
.description {
  display: flex;
  flex-direction: column;
  max-width: 1300px;
  padding: 5rem;
  align-items: center;
  margin: auto;
  /* justify-content: center; */
}
.desc {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 3rem;
}