.section {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.description {
  font-size: 1.2rem;
}
.timelineWrapper {
  display: flex;
  gap: 5rem;
  overflow: hidden;
  width: fit-content;
}
.years {
  width: fit-content !important;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.years p {
  opacity: 0.3;
  margin: 0;
}
.active {
  opacity: 1!important;
}
.timelineDesc {
  display: flex;
  flex-direction: column;
}
.yearView {
  height: 60svh;
  font-size: 1.5rem;
  font-size: bolder;
}
