.section {
  overflow-x: hidden;
}
.scrollContainer {
  width: 300vw !important;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}
.scrollContainer div {
  width: 100vw;
  height: 100vh;
}
.blue {
  background: blue;
}
.red {
  background: red;
}
.green {
  background: green;
}