.gallery {
  will-change: transform ;
  height: 175lvh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  padding: 1rem;
  overflow: hidden;
  background: black;
}
.column {
  will-change: transform;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 0.5rem;
}
.column:nth-of-type(1) {
  top: -55%;
}
.column:nth-of-type(2) {
  top: -45%;
}
.column:nth-of-type(3) {
  top: -55%;
}
.column:nth-of-type(4) {
  top: -45%;
}
.imageContainer {
  will-change: transform !important;
  width: 100%;
  height: 100%;
  max-height: 90rem;
  width: auto;
  position: relative;
  border-radius: 0.5vw;
  overflow: hidden;
}
.imageContainer img {
  will-change: transform !important;
  object-fit: cover;
  filter: brightness(90%);
  transition: all 0.5s var(--ease);
}
.imageContainer:hover img {
  filter: brightness(100%);
  scale: 1.02;
}
.buttonDiv {
  width: 100vw;
}
@media (max-width: 1024px){
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
  .column:nth-of-type(4) {
    display: none;
  }
  .column:nth-of-type(1) {
    top: -50%;
  }
  .column:nth-of-type(2) {
    top: -40%;
  }
  .column:nth-of-type(3) {
    top: -50%;
  }
}
@media (max-width: 768px) {
  .imageContainer img {
    filter: brightness(100%);
  }
}
@media (max-width: 600px) {
  .gallery {
    display: none;
  }
}
